
body {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#content {
    position: relative;
    margin: 4em auto 4em auto;
    max-width: 32em;
}

#title {
    position: relative;
    padding-left: 12em;
}

#title img.logo {
    display: block;
    position: absolute;
    height: 10em;
    width: 10em;
    left: 0;
    top: 0;
}

h1 .initial {
    font-weight: bold;
    font-size: 175%;
    margin: 0;
    display: inline-block;
    position: relative;
    text-align: left;
    width: 0.85em;
}

h1 {
    font-weight: normal;
    font-size: 110%;
    margin: 0; 
}

#title {
    margin-bottom: 3em;
}

p {
    text-align: justify;
}