
body {
    position: relative;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

#content {
    position: relative;
    margin: 4em auto 4em auto;
    max-width: 32em;
}

h1 {
    font-size: 175%;
    margin-bottom: 1em;
}

p {
    text-align: justify;
}